# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# .pre-commit-config.yaml

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
    -   id: black
        language_version: python3.12
        args: []
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.15.2
  hooks:
    # Run the linter.
    - id: ruff-check
      args: [ --fix ]
